body {
    /* background: rgb(29,135,171); */
    background: linear-gradient(180deg, rgba(50, 124, 154, 1) 0%, rgba(46, 71, 124,1) 100%);
    overflow: hidden;
    color: #F7EFEF;
    /* z-index: 2; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    position: relative;
    width: 90px;
    height: 90px;

}

.navbar .links a {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    text-align: right;
    color: #F7EFEF;
    font-size: 20px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    margin-bottom: 10px;
}

.navbar .links button {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    text-align: right;
    color: #F7EFEF;
    font-size: 20px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

}

.name {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.name p {
    /* display: flex; */
    font-family: Andale Mono, monospace;
    font-size: 200px;
    color: #F7EFEF; 
    padding-top: 10px;
    position: relative;
    letter-spacing: 80px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.name img {
    position: relative;
    width: 20%; 
    max-width: 250px; 
    height: 250px; 
    /* top: 80%;  */
    bottom: -240px;
    left: 80%; 
    z-index: 1;
    margin: 0;
    /* transform: translateX(-100%);  */
    transition: transform 0.5s ease-in-out;
}

.name img:hover {
    transform: scale(1.05);
    z-index: 2;
}

.aboutme p{
    position: relative;
    font-family: Roboto, sans-serif; 
    font-size: 40px;
    color: #BAE5F9;
    text-align: center;
    align-items: center;
    margin-top: 5px;
}

.socials {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    position: relative; 
}

.socials a img {
    width: 40px;
    height: 40px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.portfolio {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    gap: 10px;
    /* background-color: aquamarine; */
    align-items: flex-start;
    /* flex-direction: row; */
}

.project {
    /* background-color: aqua; */
    /* max-width: 100%; */
    margin: 0;
    height: 100%;
    padding: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    width: 20%;
    /* display: flex; */
    /* font-family: 'Courier New', Courier, monospace; */
    transition: transform 0.5s ease-in-out;
}

.project:hover {
    background-color: #2e4a7e;
    transform: scale(1.05);
    z-index: 2;
}

.project a {
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    text-decoration: none;
    color: #F7EFEF;
    text-decoration: underline;
}

.project img {
    height: 250px;
    width: 250px;
}

.qualifications {
    padding-top: 6px;
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center; 

}
.qualifications h1 {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    color: #BAE5F9;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    width: 30%;
    border-right: #F7EFEF 5px double;
}

.qualifications p {
    padding-left: 10px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #F7EFEF;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    transition: transform 0.5s ease-in-out;
}

.qualifications p:hover {
    transform: scale(1.05);
    z-index: 2;
}

.services {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    font-family: Roboto, sans-serif;
    justify-content: center;
    text-align: left;
}

.services h1 {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    color: #BAE5F9;
    text-align: center;
    align-items: center;
    margin-top: 5px;
}

.service {
    border-radius: 20px;
    text-align: left; 
    width: 80%; 
    margin: 10px 0; 
    transition: transform 0.5s ease-in-out;
}

.service:hover {
    background-color: #2e4a7e;
    transform: scale(1.05);
    z-index: 2;
}

.service a {
    color: #F7EFEF;
}