body {
    background: gray;
    /* overflow: hidden; */
    font-family: monospace;
    color: #F7EFEF;
}

.container {
    display: flex; 
    align-items: flex-start; 
    width: 100%; 
}

.navbar {
    display: grid;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    width: 15%;
    
}

.navbar img {
    position: relative;
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    transition: transform 0.5s ease-in-out;
}

.navbar img:hover {
    transform: rotate(360deg);
}

.navbar .links a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    /* text-align: right; */
    color: #F7EFEF;
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;
    position: relative;
    margin-bottom: 80px;
}

.navbar .links button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    color: #F7EFEF;
    /* color: #F7EFEF; */
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

}

.name {
    display: flex;
    position: relative;

}

.name p {
    /* background-color: blue; */
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200px;
    color: #F7EFEF; 
    padding-top: 10px;
    position: relative;
    letter-spacing: 10px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.name img {
    display: flex;
    /* background-color: blue; */
    position: relative;
    width: 20%; 
    max-width: 250px; 
    height: 250px; 
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 50%;
    top: 450px;
    transition: transform 0.5s ease-in-out;
}

.aboutme {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.aboutme p{
    position: relative;
    /* font-family: monospace; */
    font-size: 20px;
    color: #F7EFEF;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    padding: 5px 10px;
    padding-left: 10px;
    display: inline-block;
    /* background-color: green; */
    border-right: .15em solid black;
    overflow: hidden;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.name img:hover {
    transform: rotate(360deg);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.socials {
    justify-content: center; 
    align-items: center;
    display: flex; 
    flex-direction: column;
    /* justify-content: center;  */
    /* align-items: right;  */
    gap: 15px; 
    position: relative; 
    /* background-color: blue; */
    width: 10%;
    margin-right: 20px;
}

.socials a img {
    width: 40px;
    height: 40px;
    padding: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    /* align-items: right; */
}

.portfolio {
    padding-left: 20px;
    /* background-color: #caefdc; */
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.portfolio h1 {
    text-align: right;
    text-decoration: underline;
}

.project {
    /* text-shadow: horizontal-offset vertical-offset blur-radius color; */
    max-width: 100%;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
    margin-bottom: 10px;
    background-color: #48554e;
    display: flex;
    /* position: relative; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.project img {
    height: auto;
    width: 250px;
    margin-right: 10px;
}

.project h2 {
    text-shadow: 2px 2px 2px black;
}

.project p {
    /* background-color: #bfab84; */
    width: 100%;
    color: white;
}

.project a {
    text-decoration: none;
    color: #F7EFEF;
    background-color: black;
    text-decoration: underline;
}

.qualifications {
    padding-top: 6px;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #48554e;
    width: 100%;


}
.qualifications h1 {
    font-size: 40px;
    color: #F7EFEF;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    text-decoration: underline;
    text-shadow: 2px 2px 2px black;
}

.qualifications p {
    /* background-color: #BAE5F9; */
    font-size: 20px;
    color: #F7EFEF;
    text-align: left;
    align-items: left;
    padding-bottom: -5%;
    /* margin-top: 5px; */
    stroke: black;
    stroke-width: .5px;
    padding-right: 10px;
}

.services {
    background-color: #48554e;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: left;
    width: 100%;
    
}

.services h1 {
    font-size: 40px;
    /* color: #bfab84; */
    text-align: center;
    align-items: center;
    margin-top: 5px;
}

.service {
    /* background-color: blue; */
    margin-bottom: 10px;
    border-bottom: black 5px solid;
    display: flex;
    text-align: left;
    width: 80%; 
    margin: 10px 0; 
    flex-direction: row;
    align-items: center;
    text-shadow: 2px 2px 2px black;
}

.service h2 {
    font-size: 20px;
    color: #F7EFEF;
    margin-right: 30px; 
    width: 120px;;
}

.service p {
    /* background-color: aquamarine; */
    padding-left: 10px;
    align-items: right;
    justify-content: right;
    width: 50%;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 60px;
}
.service a {
    font-size: 20px;
    color: #F7EFEF;
}
